/* .App {
   text-align: center;
 }
 
 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }
 
 
 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }
 
 .App-link {
   color: #61dafb;
 } */
 
 /* - - - - - - - - - - - - - - - - - - - - - - - dito tayo magstart - - - - - - - - - - - - - - - - - - - - - - */
 
 body {
  text-align: center;
}

main {
  margin: auto;
  background-image: linear-gradient(90deg, blue, navy);
  border: 3px, inset, black;
  max-width: 50vw; /* 50% of viewport width */
  min-height: 50vh; /* 50% of viewport height */
  padding-bottom: 10px;
}

.card-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0;
  max-width: 65%;   /* 65% of the main {} max-width */
  margin: 0 auto;   /* Center the list */
  flex-wrap: wrap;  /* to automatically avoid going over max width */
}

.btn {
  border-radius: 16px !important;
  border: 5px, solid, turquoise !important;

}
.btn-text {
  cursor: grab;
  font-size: 18px;
  margin: 5px auto;
  width: 35%;
}

.btn-emoji {
  cursor: pointer;
  line-height: 1px;
  font-size: 30px;
  height: 85%;
  width: 85%;

  transition: 0.6s;
  transform-style: preserve-3d;
  perspective: 500px;
}

.card-item {
  border-radius: 22px;
  border: 3px, solid, black;
  height: 70px; 
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn-text:hover {
  background-color: rgb(140, 200, 223);
}

.btn-emoji.btn--emoji__front:hover, .btn-emoji.btn--emoji__back--selected:hover {
  background-color: peachpuff;
}

.btn-emoji.btn--emoji__front:focus, .btn-emoji.btn--emoji__back--selected:focus {
  background-color: peachpuff
}

.btn--emoji__front {
  font-size: 40px !important;
  font-weight: bold;
}

.btn--emoji__back--selected, .btn--emoji__back--matched, .card-item.card-item--matched {
  cursor: default;
  transform: rotateY(180deg);
}

/* .card-item.card-item--matched, .card-item.card-item--selected {
  pointer-events: none;
} */

.card-item.card-item--selected {
  transform: rotateY(180deg);
}

.card-item.card-item--matched {
  background-color: rgb(0, 160, 0);
}
.btn--emoji__back--matched {
  background-color: rgb(50, 255, 50);
  color: white;
  text-shadow: 1px 1px white;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  width: 1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.p--large {
  font-size: 25px;
}

.p--regular {
  font-size: 20px;
}

.wrapper {
  background-color: cyan;
  border: 5px double black;
  padding: 5px;
  max-width: 65%;
  margin: 0 auto;
}

.wrapper.wrapper--accent {
  border-radius: 10px;
  max-width: 65%;
  margin: 10px auto;
}

.form--outerwrapper {
  border: 2px solid turquoise;
  width: 65%;
  margin: 0 auto;
}

.form--innerwrapper {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
}

label {
  width: 25%;
  padding: 3px 10px;
  font-size: 1rem;
  margin-right: 10px;
}

option {
  text-align: left;
}

#category, #number {
  background-image: linear-gradient(75deg, aquamarine, lightgreen);
  font-size: 1rem;
  padding: 3px 0;
  width: 60%;
}

/* media queries */

@media (min-width: 901px) and (max-width: 1024px) {

  main {
    padding-bottom: 10px;
  }

  .card-container {
    gap: 10px;
    max-width: 70%;
  }

  .btn-text {
    font-size: 16px;
    margin: 2px auto;
  }

  .btn-emoji {
    line-height: 0.5px;
    font-size: 16px;
  }

  .card-item {
    border-radius: 10px;
    border: 3px, solid, black;
    height: 50px; 
    width: 50px;
  }

  .btn--emoji__front {
    font-size: 20px !important;
    font-weight: bold;
  }

  .p--large {
    font-size: 20px;
  }

  .p--regular {
    font-size: 15px;
  }
}

/* Styles for tablets */
@media /*(min-width: 768px) and */(max-width: 900px) {

  main {
    padding-bottom: 5px;
  }

  .card-container {
    gap: 8px;
    max-width: 80%;
  }

  .btn {
    border-radius: 12px !important;
    border: 3px, solid, turquoise !important;
  }

  .btn-text {
    font-size: 12px;
    margin: 2px auto;
  }

  .btn-emoji {
    line-height: 0.5px;
    font-size: 16px;
  }

  .card-item {
    border-radius: 10px;
    border: 3px, solid, black;
    height: 50px; 
    width: 50px;
  }

  .btn--emoji__front {
    font-size: 20px !important;
    font-weight: bold;
  }

  .p--large {
    font-size: 16px;
  }

  .p--regular {
    font-size: 12px;
  }

  label {
    width: 20%;
    padding: 2px 10px;
    font-size: 0.90rem;
  }

  #category, #number {
    font-size: 0.90rem;
  }
}

@media /*(min-width: 375px) and */(max-width: 767px) {

  main {
    max-width: 80vw;
    min-height: 80vh;
    padding-bottom: 5px;
  }

  .card-container {
    gap: 8px;
    max-width: 90%;
  }

  .btn {
    border-radius: 12px !important;
    border: 3px, solid, turquoise !important;
  }

  .btn-text {
    font-size: 12px;
    margin: 2px auto;
  }

  .btn-emoji {
    line-height: 0.5px;
    font-size: 16px;
  }

  .card-item {
    border-radius: 10px;
    border: 3px, solid, black;
    height: 50px; 
    width: 50px;
  }

  .btn--emoji__front {
    font-size: 20px !important;
    font-weight: bold;
  }

  .wrapper.wrapper--accent {
    max-width: 90%;
    margin: 5px auto;
  }

  .p--large {
    font-size: 16px;
  }

  .p--regular {
    font-size: 12px;
  }

  label {
    width: 20%;
    padding: 2px 10px;
    font-size: 0.85rem;
  }

  #category, #number {
    font-size: 0.85rem;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - dito tayo magstatapos - - - - - - - - - - - - - - - - - - - - - - */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */